body{
    background-image: url(pen.jpg);
    background-repeat: no-repeat;
    background-size: 1475px 720px;
}
form{
    border: solid 1px;
    width: 380px;
    margin-left: 100px;
    padding-left: 10px;
}
label{
    font-size 22px;
    color: darkblue;
    font-weight: bold;
}
input{
    height: 32px;
    width: 300px;
    border-radius: 20px;
}
textarea{
    height: 100px;
    width: 300px;
}
button{
    height: 50px;
    width: 150px;
    background-color: darkgray;
    color: black;
    font-size: 20px;
    border-radius: 20px;
}
h1{
    text-align: center;
    font-size: 40px;
}